NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Better Auth
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=your_app_url_here # for example: http://localhost:3000

# Google OAuth 
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Cijene API Configuration
CIJENE_API_URL=https://api.cijene.dev
CIJENE_API_TOKEN=bearer_token